<!DOCTYPE html>
<html lang="en-us"></html>
<meta charset="utf-8">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Go Pokémon Go!</title>
    
    <!-- Load stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="css/reset.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="https://www.pokemon.com/us">The World of Pokémon!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.pokemon.com/us">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Charts
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="chart1.html">Chart 1</a>
              <a class="dropdown-item" href="chart2.html">Chart 2</a>
              <a class="dropdown-item" href="chart3.html">Chart 3</a>
            </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="aboutus.html">About Us</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>


  <div class= row style="height: auto !important;">
    <div class="col span-sm-1 resp-scroll">
    </div>
    <div class="col span-sm-9" style= "height: auto !important;">
      <br>
      <br>
      <div id="my_dataviz">
      </div>     
    </div>
    <div class="col span-sm-1 resp-scroll">
      <br>
      <br>
      <br>
      <br>
      <br>
      <p>
      <br>
        The full type chart here displays the strengths and weaknesses of each type. Look down the left hand side for the attacking type, then move across to see how effective it is against each Pokémon type.
      </p>   
  
      <p>
        Each pokemon type may have several stengths and weaknesses in both attack and defense so in battles it is wise to use a pokemon that has a type advantage over your opponent!
      </p>   
    </div>
    <div class="col span-sm-1 resp-scroll">
    </div>
  </div>

  <div class = row2 style="height: auto !important;">
      <br>
      <br>
  </div>

  <div id="secondary-content">
    <div class="wrapper"></div>
        <article style="background-image: url('static/images/001_460x270_v3.png');">
            <div class="overlay">
                <h4>Meet Bulbasaur</h4>
                <p>There is a plant seed on its back right from the day this Pokémon is born. The seed slowly grows.</p>
                <a href="bulbasaur.html" class="more-link">View more</a>
            </div>
        </article>
        <article style="background-image: url('static/images/25th-anniversary-main-169_460x270_v2.jpg');">
            <div class="overlay">
                <h4>Pokémon GO!</h4>
                <p>Katy Perry Helps Celebrate the 25th Anniversary of Pokémon. A yearlong celebration begins.</p>
                <a href="pokemongo.html" class="more-link">Check It Out</a>
            </div>
        </article><div class="clear"></div>
    </div>
</div>

<div id="cta">
    <div class="wrapper">
        <h3>Heard Enough?</h3>
        <p>Awesome, our presentation is concluded.</p>
    </div>
</div>

<footer>
    <div class="wrapper"></div>
        <div id="footer-info">
            <p>Copyright 2021. Team Go Pokemon Go. All rights reserved.</p>
            <p><a href="terms.html">Terms of Service</a>I <a href="privacy.html">Privacy</a></p>
        </div>
        <div id="footer-links">
            <ul>
                <li><h5>Team</h5></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="team.html">Meet the Team</a></li>

            </ul>
            <ul>
                <li><h5>Directory</h5></li>
                <li><a href="https://www.pokemon.com/us/">Who</a></li>
                <li><a href="https://www.pokemon.com/us/">What</a></li>
                <li><a href="https://www.pokemon.com/us/">When</a></li>
                <li><a href="https://www.pokemon.com/us/">Where</a></li>  
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>

// Set the dimensions and margins of the graph
var margin = {
              top: 80, 
              right: 15, 
              bottom: 50,
              left: 100
              },
              width = 775 - margin.left - margin.right,
              height = 475 - margin.top - margin.bottom;

// Append the svg object to the body of the page
var svg = d3.select("#my_dataviz")
          .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform","translate(" + margin.left + "," + margin.top + ")");

// Read the data
d3.json("http://127.0.0.1:5000/data/type_data", function(data) {
console.log(data)
// Labels of row and columns -> unique identifier of the column called 'group' and 'variable'
var attackers = d3.map(data, function(d){return d.attack_type;}).keys()
var defenders = d3.map(data, function(d){return d.defense_type;}).keys()
var effectiveness = d3.map(data, function(d){return d.effectiveness;}).keys()

// console.log(attackers);
// console.log(defenders);

//Build X scales and axis:
  var x = d3.scaleBand()
    .range([ 0, width ])
    .domain(defenders)
    .padding(0.12);
  svg.append("g")
    .style("font-size", 10)
    .call(d3.axisTop(x).tickSize(0))


  // Build Y scales and axis:
  var y = d3.scaleBand()
            .range([ 0, height ])
            .domain(attackers)
            .padding(0.05);
  svg.append("g")
      .style("font-size", 13)
      .call(d3.axisLeft(y).tickSize(0))


  function getColor(effectiveness){
    if (effectiveness == 2) {
      return "red"}
    else if (effectiveness == 1) {
      return "white"}
    else if (effectiveness == 0.5) {
      return "darkgray"}
    else {
     return "black"}
  }

  // Create a tooltip
  var tooltip = d3.select("#my_dataviz")
    .append("div")

    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "yellow")
    .style("border", "solid")
    .style("border-width", "2px")
    .style("border-radius", "5px")
    .style("padding", "5px")
  
    
  // Three functions that change the tooltip when user hover / move / leave a cell
  var mouseover = function(d) {
    tooltip
      .style("opacity", 1)
    d3.select(this)
      .style("stroke", "white")
      .style("opacity", 1)
  }

  var mousemove = function(d) {
    tooltip
      .html(d.defense_type + " does "+ d.effectiveness + "x damage <br> against " + d.attack_type)
      .style("left", (d3.mouse(this)[0]) + "px")
      .style("top", (d3.mouse(this)[1]) + "px")
      .position(absolute)
  }

  var mouseleave = function(d) {
    tooltip
      .style("opacity", 0)
    d3.select(this)
       .style("stroke", "none")
       .style("opacity", 0.8)
  }

  //add the squares
  svg.selectAll()
    .data(data, function(d) {return d.defense_type+':'+d.attack_type;})
    .enter()
    .append("rect")
      .attr("x", function(d) { return x(d.attack_type) })
      .attr("y", function(d) { return y(d.defense_type) })
      .attr("rx", 0)
      .attr("ry", 0)
      .attr("width", x.bandwidth() )
      .attr("height", y.bandwidth() )
      .style("fill", function(d) { return getColor(d.effectiveness)} )
      .style("stroke-width", 4)
      .style("stroke", "none")
      .style("opacity", 0.8)
     
    .on("mouseover", mouseover)
    .on("mousemove", mousemove)
    .on("mouseleave", mouseleave)
})

//Add title to graph
svg.append("text")
        .attr("x", 0)
        .attr("y", -60)
        .attr("text-anchor", "left")
        .style("font-size", "25px")
        .style("padding", "20px")
        .attr("dy", ".08em")
        .text("Pokemon Type Effectiveness Chart");

// Add x-axis label
svg.append("text")
        .attr("class", "y label")
        .attr("text-anchor", "left")
        .attr("x", width - 460)
        .attr("y", height - 370)
        .attr("dx", ".1em")
        .text ("__________Defender Type___________")

// Add y-axis label
svg.append("text")
    .attr("class", "x label")
    .attr("text-anchor", "end")
    .attr("x", width - 725)
    .attr("y", -65)
    .attr("dy", ".1em")
    .attr("transform", "rotate(-90)")
    .text("______Attacker Type_______");

// Legend icons
svg.append("circle").attr("cx",15).attr("cy",375).attr("r", 6).style("fill", "black").style("stroke", "black")
svg.append("circle").attr("cx",130).attr("cy",375).attr("r", 6).style("fill", "darkgray").style("stroke", "darkgray")
svg.append("circle").attr("cx",300).attr("cy",375).attr("r", 6).style("fill", "white").style("stroke", "darkgray")
svg.append("circle").attr("cx",425).attr("cy",375).attr("r", 6).style("fill", "red").style("stroke", "red")

// Legend text
svg.append("text").attr("x", 25).attr("y", 375).text("No effect (0%)").style("font-size", "12px").attr("alignment-baseline","middle")
svg.append("text").attr("x", 140).attr("y", 375).text("Not very effective (50%)").style("font-size", "12px").attr("alignment-baseline","middle")
svg.append("text").attr("x", 310).attr("y", 375).text("Normal (100%)").style("font-size", "12px").attr("alignment-baseline","middle")
svg.append("text").attr("x", 435).attr("y", 375).text("Super Effective (200%)").style("font-size", "12px").attr("alignment-baseline","middle")

</script>
</body>
</html>

